<div id="welcome-header">
	<div id="welcome-header-inner">

	<h1 id="welcome-title">
		<a href="/"><%= title %></a>
	</h1>
	<div id="welcome-menu">
		<a href="/portfolio/">Portfolio</a> | 
		<a href="/shop/">Shop</a> | 
		<a href="<%= aboutpage %>">About</a> | 
		<a href="/news/">News</a> | 
		<a href="/contact/">Contact</a>
	</div>

	</div>
</div>