<%= this.partial({url: templatesurl+'header.ejs'}) %>

<div id="portfolio-landing-archive-wrapper">

	<h2 class="site-page-title">Portfolio</h2>  

	<%= this.partial({url: templatesurl+'portfolioarchive.ejs'}) %>

	<div class="clearfix"></div>

</div>

<%= this.partial({url: templatesurl+'footer.ejs'}) %>
