<%= this.partial({url: templatesurl+'header.ejs'}) %>

<div id="shop-landing-archive-wrapper">

	<h2 class="site-page-title">Shop</h2>  

	<%= this.partial({url: templatesurl+'archive.ejs'}) %>

</div>

<%= this.partial({url: templatesurl+'footer.ejs'}) %>